:root {
  --phoenixProclamationBase: 8.5vw;
  --phoenixProclamationScalingFactor: 8.65vw;
  --deathEaterProclamationBase: 4.1vw;
  --deathEaterProclamationScalingFactor: 19vw;
  --deathEaterProclamationExtraPush: 0.5vw;
}

.boards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 65vw;
  top: 0;
  right: 0;
  background-color: #252525;
  position: absolute;
  border-radius: 15px;
  padding-top: 3vw;
  padding-bottom: 3vw;
  right: 1vw;
}

.phoenix-board-container {
  position: relative;
  width: 90%;
  height: 90%;
}

.death-eater-board-container {
  position: relative;
  width: 90%;
  height: 90%;
}

.boards img {
  border-radius: 5px;
}

/* Phoenix Board */

.phoenix-board-img {
  width: 100%;
}

.phoenix-proclamation {
  position: absolute;
  height: 10vw;
  top: 3.7vw;
  transition: opacity 0.5s ease;
}

#phoenix-proclamation-0 {
  left: calc(var(--phoenixProclamationBase));
}
#phoenix-proclamation-1 {
  left: calc(
    var(--phoenixProclamationBase) + 1 * var(--phoenixProclamationScalingFactor)
  );
}
#phoenix-proclamation-2 {
  left: calc(
    var(--phoenixProclamationBase) + 2 * var(--phoenixProclamationScalingFactor)
  );
}
#phoenix-proclamation-3 {
  left: calc(
    var(--phoenixProclamationBase) + 3 * var(--phoenixProclamationScalingFactor)
  );
}
#phoenix-proclamation-4 {
  left: calc(
    var(--phoenixProclamationBase) + 4 * var(--phoenixProclamationScalingFactor)
  );
}

/* Death Eater Board */

.death-eater-board-img {
  width: 100%;
}

.death-eater-proclamation {
  position: absolute;
  height: 10vw;
  top: 3.7vw;
  transition: opacity 0.5s ease;
}

.smaller-proclamations img {
  height: 9vw;
  top: 5vw !important;
}

#death-eater-proclamation-0 {
  left: var(--deathEaterProclamationBase);
}
#death-eater-proclamation-1 {
  left: calc(
    var(--deathEaterProclamationBase) + 1 *
      var(--phoenixProclamationScalingFactor)
  );
}
#death-eater-proclamation-2 {
  left: calc(
    var(--deathEaterProclamationBase) + 2 *
      var(--phoenixProclamationScalingFactor)
  );
}
#death-eater-proclamation-3 {
  left: calc(
    var(--deathEaterProclamationBase) + 3 *
      var(--phoenixProclamationScalingFactor) +
      var(--deathEaterProclamationExtraPush)
  );
}
#death-eater-proclamation-4 {
  left: calc(
    var(--deathEaterProclamationBase) + 4 *
      var(--phoenixProclamationScalingFactor) +
      var(--deathEaterProclamationExtraPush)
  );
}
#death-eater-proclamation-5 {
  left: calc(
    var(--deathEaterProclamationBase) + 5 *
      var(--phoenixProclamationScalingFactor) +
      var(--deathEaterProclamationExtraPush)
  );
}
