.create-game {
  font-family: "Harry P", monospace;
  color: white;
  text-align: center;
  background-color: #252525;
  max-width: 70vmin;
  margin: auto;
  margin-top: 15vh;
  padding-top: 1vh;
  padding-bottom: 5vh;
  padding-left: 3vh;
  padding-right: 3vh;
  border-radius: 15px;
}

.create-game-form {
  display: flex;
  max-width: 60vw;
  justify-content: space-around;
  margin: auto;
}

.min-max-label {
  font-size: 1.5rem;
}

.title {
  text-align: center;
  font-size: 4rem;
}

input,
label {
  display: block;
}

.text-input {
  font-size: 10vmin;
}

.create-button {
  background-color: #2e2d2d;
  min-width: 28vmin;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-family: "Harry P", monospace;
  font-size: 3rem;
  border-radius: 15px;
}

.create-button:hover {
  background-color: #313030;
}
