.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 70vw;
  max-height: 30vh;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btns-not-logged-in {
  max-width: 50vmin;
  display: flex;
  justify-content: space-around;
  padding-bottom: 2vh;
  margin: auto;
}

.btns-logged-in {
  max-width: 50vmin;
  display: flex;
  justify-content: space-around;
  padding-bottom: 2vh;
  margin: auto;
}

.btns-logged-in button,
.btns-not-logged-in button {
  width: 22vmin;
  background-color: #252525;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border-radius: 15px;
  outline: none;
  font-family: "Harry P", monospace;
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#lobby-btn:hover {
  background-color: #2e2d2d;
}

.img-tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  max-width: 99vmin;
}

.image-container {
  position: relative;
  width: 25%;
}

.image-container img {
  width: 95%;
  height: 95%;
  border-radius: 15px;
}

.transition-image {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.transition-image:hover {
  opacity: 1;
}
