.matchList {
  width: 100vmin;
  list-style: none;
  margin: auto;
  font-family: "Harry P";
  padding: 10px;
}
li {
  color: white;
  font-size: xx-large;
  text-align: center;
}

.categories {
  width: auto;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-family: "Harry P";
}

.NotSelected {
  background-color: rgb(95, 15, 148);
  color: white;
  margin: auto;
  text-decoration: none;
  font-size: auto;
  padding: 10px;
  cursor: pointer;
  margin: 6px;
}

.Selected {
  background-color: brown;
  color: white;
  margin: auto;
  text-decoration: none;
  font-size: auto;
  padding: 10px;
  cursor: pointer;
  margin: 6px;
}

.entry {
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-family: "Harry P";
  padding: 4px;
}

.refresh {
  float: left;
  height: auto;
  width: auto;
  max-height: 7vh;
  cursor: pointer;
}

.quit {
  float: right;
  height: auto;
  width: auto;
  cursor: pointer;
  max-height: 7vh;
}

.match-list-btn {
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 4vw;
  padding-right: 4vw;
  background-color: #2e2d2d;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border-radius: 15px;
  font-family: "Harry P", monospace, sans-serif;
  font-size: 1.5rem;
  outline: none;
  margin-top: 1vh;
  margin-bottom: 1vh;
  text-align: center;
  width: 20vw;
  height: 2vh;
  margin: auto;
}

.match-list-btn:hover {
  background-color: #313030;
}

.ReactModal__Html--open,
.ReactModal__Body--open {
  overflow: hidden; /* prevents background page from scrolling when the modal is open */
}

.ReactModal__Overlay {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ReactModal__Content {
  background: #000;
  max-width: calc(100vw - 2rem);
  max-height: calc(100vh - 8rem);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
  overflow-y: auto;
  position: relative;
  border: "1px solid #ccc";
}

.modal-close-btn {
  cursor: pointer;
  top: 1.5rem;
  right: 1.5rem;
  position: absolute;
  width: 3rem;
  height: 3rem;
}
