.matchList {
  width: 100vmin;
  list-style: none;
  margin: auto;
  font-family: "Harry P";
  padding: 10px;
}
li {
  color: white;
  font-size: xx-large;
  text-align: center;
}

.categories {
  width: auto;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-family: "Harry P";
}

.NotSelected {
  background-color: rgb(95, 15, 148);
  color: white;
  margin: auto;
  text-decoration: none;
  font-size: auto;
  padding: 10px;
  cursor: pointer;
  margin: 6px;
}

.Selected {
  background-color: brown;
  color: white;
  margin: auto;
  text-decoration: none;
  font-size: auto;
  padding: 10px;
  cursor: pointer;
  margin: 6px;
}

.entry {
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-family: "Harry P";
  padding: 4px;
}

.refresh {
  float: left;
  height: auto;
  width: auto;
  max-height: 7vh;
  cursor: pointer;
}

.quit {
  float: right;
  height: auto;
  width: auto;
  cursor: pointer;
  max-height: 7vh;
}

.match-list-btn {
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 4vw;
  padding-right: 4vw;
  background-color: #2e2d2d;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border-radius: 15px;
  font-family: "Harry P", monospace, sans-serif;
  font-size: 1.5rem;
  outline: none;
  margin-top: 1vh;
  margin-bottom: 1vh;
  text-align: center;
  width: 20vw;
  height: 2vh;
  margin: auto;
}

.match-list-btn:hover {
  background-color: #313030;
}
