.joinable-info {
  text-align: center;
}

.start-btn {
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 4vw;
  padding-right: 4vw;
  background-color: #2e2d2d;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border-radius: 15px;
  font-family: "Harry P", monospace, sans-serif;
  font-size: 1.5rem;
  outline: none;
}

.start-btn:hover {
  background-color: #313030;
}

.player-msg {
  font-size: 4.5vmin;
  margin-bottom: 1vw;
}
.player-name {
  font-size: 4vmin;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
  color: gray;
}
