.nomination-btn {
  margin-top: 1vh;
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 4vw;
  padding-right: 4vw;
  background-color: #2e2d2d;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border-radius: 15px;
  font-family: "Harry P", monospace, sans-serif;
  font-size: 1.5rem;
  outline: none;
}

.nomination-btn:hover {
  background-color: #313030;
}

.player-name-nomination {
  font-size: 3rem;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
  color: white;
  font-family: "Harry P", monospace;
  background-color: #2e2d2d;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  border-radius: 15px;
  text-align: center;
}

.player-name-nomination:hover {
  background-color: #3d3d3d;
  cursor: pointer;
}

.nomination-modal-title {
  font-family: "Harry P", monospace;
  font-size: 3rem;
  text-align: center;
}
