.role-img {
  max-height: 40vmin;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.other-death-eater-info {
  font-family: "Harry P", monospace, sans-serif;
}

.death-eater-role-username {
  margin-left: 10%;
}

.voldemort-role-username {
  margin-left: 10%;
}

.secret-role-btn {
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 4vw;
  padding-right: 4vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  background-color: #2e2d2d;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border-radius: 15px;
  font-family: "Harry P", monospace, sans-serif;
  font-size: 1.5rem;
  outline: none;
}

.secret-role-btn:hover {
  background-color: #313030;
}
