.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.vote-btn {
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 4vw;
  padding-right: 4vw;
  background-color: #2e2d2d;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border-radius: 15px;
  font-family: "Harry P", monospace, sans-serif;
  font-size: 1.5rem;
  outline: none;
  margin-bottom: 1vw;
}

.vote-btn:hover {
  background-color: #313030;
}

.vote-img {
  width: 17vw;
  padding-left: 1vw;
  padding-right: 1vw;
}
